@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Itim&display=swap');

@import "tailwindcss";

@theme {
    --font-inter : "Inter", sans-serif;
    --font-itim : "Itim", cursive;
    --font-crimson : "Crimson Text", serif;
    --font-albert : "Albert Sans", sans-serif;
    --font-istok : "Istok Web", sans-serif;

    --color-bg-dark : #010403;
    --color-text-dark : #F1F8F7;
    --color-primary-dark : #18E2A5;
    --color-secondary-dark : #226D56;
    --color-accent : #2F37D0;
    --color-bg-light : #FBFEFD;
    --color-text-light : #070E0D;
    --color-primary-light : #1DE7AB;
    --color-secondary-light : #92DDC6;

    --breakpoint-xs : 360px;
    --breakpoint-sm : 460px;
    --breakpoint-md : 700px;
    --breakpoint-lg : 1024px;
    --breakpoint-xl : 1280px
}

.nav-link {
    @apply font-albert font-normal hover:underline cursor-pointer;
}

.form-wrapper {
    @apply my-2 flex flex-col gap-1 
}

.form-wrapper label {
    @apply font-itim
}

.form-wrapper input,
.form-wrapper select {
    @apply border shadow-md rounded-md p-2  focus:shadow-gray-400
}

.form-wrapper select option {
    @apply bg-inherit
}

::placeholder {
    @apply text-inherit opacity-[0.5]
}

.search-btn {
    @apply flex gap-1 font-itim text-bg-dark transition-[gap] bg-primary-dark px-2 py-1 rounded-md w-full justify-center shadow-md shadow-gray-400 cursor-pointer hover:gap-4 duration-75 lg:w-40 mt-4
}

.btn 
{
    @apply bg-primary-dark px-2 py-1 rounded-sm shadow-sm shadow-transparent hover:shadow-gray-400 cursor-pointer text-bg-dark font-itim duration-300 mr-2
}